.cart {
    border-bottom: #dbdbdb solid 1px
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}


.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}


.order-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem;

}

.order-header {
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
}

.order-info {
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
}

.info h2 {
    font-size: 1.5rem;
}

.cart-product-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.cart-product-header p {
    margin: 0 0.5rem;

}


.delete-all {
    display: flex;
    flex-direction: row;

}

.cart-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart-quantity-no {
    border: solid;
    padding: 0.1rem 0.5rem;
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 0.8rem;
    margin: 0 0.3rem;
}

.productImg {
    height: 8rem;
    width: 6rem;

}

.cart-product-checkbox {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.calculator {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2rem;
}

.calculator p {
    margin: 0 1rem;
}

.cart-product-info {
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.tile-ancestor {
    display: flex;
    flex-direction: row;
}


.product-tile {
    flex-grow: 1;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    padding: 1rem;
    margin: 1rem;
}


.order-tile {
    flex-grow: 1;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    padding: 1rem;
    margin: 1rem;
    background-color: #f0f5f7;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    /* align-items: center; */
    justify-content: space-between;
    display: flex;
}

.content {
    justify-content: center;
    margin: 0 6rem;
}