.delivery-info {
    display: flex;
    flex-direction: column;
}


.order-summary {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;


}

.order-title {
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.delivery-tile {
    flex-grow: 2;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    padding: 1rem;
    margin: 1rem;

}


.order-tile {
    flex-grow: 1;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    padding: 1rem;
    margin: 1rem;
    background-color: #f0f5f7;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%);
    /* align-items: center; */
    justify-content: space-between;
    display: flex;
}

.input {
    margin-bottom: 1rem;
}

.postcode {
    display: flex;
}

.postcode-button {
    flex: 1;
    text-align: center;
}

.postcode-input {
    flex: 4;
    margin-right: 0.5rem;
}


.delivery-fee {
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.product-info {
    font-size: 1.2rem;

}