.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav-links li {
  margin: 1rem;
  cursor: pointer;
}

.nav-links a {
  border: 1px solid transparent;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #999;
}

.nav-links-cart {
  display: none;
}

/* shop */
.nav-links li ul {
  display: none;
  list-style: none;
  position: fixed;
  margin: 0;
  padding: 0;
}

.nav-links li ul li {
  margin-top: 0.5rem;
}

.nav-links li:hover > ul {
  display: initial;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
    justify-content: center;
    padding-left: 0.5rem;
  }

  .nav-links li {
    margin: 0 0.5rem;
  }

  .nav-links-cart {
    display: initial;
  }
}
