.nav-links-user {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links-user li {
  margin: 1rem;
  cursor: pointer;
}

.nav-links-user a {
  border: 1px solid transparent;
  text-decoration: none;
}

.nav-links-user a:hover,
.nav-links-user a:active,
.nav-links-user a.active {
  color: #999;
}

.nav-links-user-cart {
  display: none;
}

/* shop */
.nav-links-user li ul {
  display: none;
  list-style: none;
  position: fixed;
  margin: 0;
  padding: 0;
}

.nav-links-user li ul li {
  margin-top: 0.5rem;
}

.nav-links-user li:hover > ul {
  display: initial;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .nav-links-user {
    height: 100%;
    flex-direction: row;
    justify-content: center;
    padding-left: 0.5rem;
  }

  .nav-links-user li {
    margin: 0 0.5rem;
  }

  .nav-links-user-cart {
    display: initial;
  }
}
