.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-payment-tile {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
  width: 100%;
}

.cart-checkbout:checked {
  background-color: #000;
}

.payment-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.payment-header {
  border-bottom: #555 solid 1px;
  margin-bottom: 1rem;
  font-size: 18px;
}

.payment-info {
  border-bottom: #555 solid 1px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-right: 7rem;
}

.payment-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3rem 0;
  padding-right: 7rem;
  font-size: 18px;
}

.info p {
  margin: 0.1rem 0;
}

.cart-product-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: #555 solid 1px;
  margin: 0;
  padding-bottom: 0.5rem;
}

.cart-product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 2rem 0;
}

.cart-img {
  display: flex;
  flex-direction: row;
}

.cart-product-img {
  height: 8rem;
  width: 6rem;
}
.cart-product-name-quantity {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.cart-product-name {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 0;
  width: 70%;
}

.cart-quantity {
  display: flex;
  margin-left: 1rem;
  justify-content: center;
  width: 30%;
}

.cart-quantity-no {
  border: solid;
  padding: 0.1rem 0.5rem;
  border-color: #dbdbdb;
  border-radius: 4px;
  font-size: 0.8rem;
  margin: 0 0.3rem;
}

.cart-product-price {
  /* margin-left: 10rem; */
  margin-bottom: 0;
}

.delete-button {
  margin-right: 2rem;
}

.delete-all {
  display: flex;
  flex-direction: row;
}

.cart-product-tile {
  display: block;
  justify-content: space-between;
}

.content {
  justify-content: center;
  margin: 0 6rem;
}

.purchase {
  display: block;
  text-align: center;
}

.purchase-button {
  background-color: #fff;
  border: 1px solid black;
  line-height: 3.5;
  width: 100%;
}

.delete-button :hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .purchase-button {
    width: 50%;
  }

  .cart-product-name-quantity {
    flex-direction: row;
  }
}
