.delivery-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* font-family: 'Merriweather'; */
    font-size: 1rem;
}


.order-summary {
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: flex-start;
    width: 100%;
    padding: 1rem 0;
}



.order-summary-tile {
    display: flex;
    flex: 1;
    /* border-bottom: #555 solid 1px; */
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.delivery-tile {
    display: flex;
    flex: 1;
    margin: 1rem 1rem;
}

.order-tile {
    justify-content: space-between;
    display: flex;
    margin: 1rem 1rem;
    width: 100%
}


.delivery-fee {
    border-bottom: #555 solid 1px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;
}

.product-info {
    font-size: 1.2rem;

}