.product-detail-img {
    width: 50%
}


.product-detail-description {
    padding-left: 3rem;
    width: 50%
}


.product-detail-name {
    font-size: 2rem;
    margin-bottom: 1rem;

}


.product-detail-info {

    margin-bottom: 1rem;

}


.product-detail-price {
    font-size: 1.5rem;
    margin-bottom: 1rem;

}