.section {
  max-width: 90%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.container {
  /* max-width: 90%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem; */
  justify-content: center;
  margin-bottom: 2rem;
}


.Navbar {
  display: flex;
}

a,
ul {
  text-decoration: none;
  margin: 0
}

.title {
  color: #000;
  font-weight: 600;
  font-size: 2rem;
}

.account-header {
  max-width: 90%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
  border-bottom: #ddd 1px solid;

}